<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Webus Jobis Maximus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>NAVIGATION! JOBICATION!</h1>
    <a href="/jobs">View All Avaliable Jobs</a>
    <a href="/jobs/create">Post A New Job</a>
  </body>
</html>
