<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Webus Jobis Maximus/CREATE</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <h1>JOBIS APPLICATIOUS CREATUS! OH YUS!</h1>
  <br>
  <div class="collumns">
    <form action="/jobs" method="post">
      <label for="contact/">CONTACT: </label>
      <br>
      <input type="text" id="contact" name="contact">
      <label for="title/">TITLE</label>
      <br>
      <input type="text" id="title" name="title">
      <label for="description">DESCRIPTION</label>
      <br>
      <input type="text" id="description" name="description">
    </form>
  </div>
</body>

</html>