<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Webus Jobis Maximus/JOBS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>NAVIGATION-ETH! JOBIS LISTUS! ... MAXIMUS!!!!!</h1>
    @using Jobs.Models;
    <h3>Your Search Results</h3>
    <ul>
      @foreach(Job job in Model)
      {
        <li>@stuff.stuff</li>
        <li>@stuff.stuff</li>
        <li>@stuff.stuff</li>
        <li>@stuff.stuff</li>
      } 
    </ul>
    
    <a href="job/create">Would you like to Apply?</a>
  </body>
</html>